<header class="jumbotron subhead" id="overview">
    <div>
      <div class="well" align = "left">
        <h1>Do you want to record your pressure?</h1>
        <p class="lead"></p><br/>
          <span class="span3">
            <img src="http://www.soloimagen.net/public/gifs/dracula.gif" width="500" height="500">
          </span>
          <span class="span6">
            <p>DraculasPressure is a web application that allows you record all yor pression           measurements in a confortable and fast way</p>
            <p>If you want to start recording your measures, one have to follow two steps</p>
                <ol>
                  <li>Create your account and input your max and min measures. The app will save it for you.</li>
                  <li>Then you can go and check and export them</li>
                </ol>
            <div class="centered">              
              <a href="/blood_pressures/index"><button class="btn big">
              <%if(current_account)%>
              Arterial Blood Pressures
              <%else%>
              Log in
              <%end%>
            </button></a>
            </div>
            </span>
        <div style="clear:both"></div>
      </div>
  </div>

</header>

<br>

<div class="alert centered">Thanks for your visit, DraculasPressure is in construction</div>

