<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div>
      <div class="well">
        <h1>Quieres registrar tu toma de presión?</h1>
        <p class="lead"></p><br/>
          <span class="span3">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Cienfuegos.jpg/220px-Cienfuegos.jpg">
          </span>
          <span class="span6">
            <p>Draculas Pressure es una aplicacion web que permite guardar tomas de presion de manera comoda y rapida</p>
            <p>Si quieres comenzar a guardar tomas de presion, simplemente sigue estos 2 pasos</p>
                <ol>
                  <li>Crea tu toma de presion con una maxima y una minima,y la aplicación la guardará por vos.</li>
                  <li>Luego puedes revisar tus 10 últimas tomas llendo a Draculas Pressure</li>
                </ol>
            <div class="centered">
                <a href="/blood_pressures/new"><button class="btn big"> Crear toma de presion</button></a>
            </div>
            </span>
        <div style="clear:both"></div>
      </div>
  </div>
  <!--
   <div class="subnav">
     <ul class="nav nav-pills">
       <li><a href="#typography">Typography</a></li>
       <li><a href="#navbar">Navbar</a></li>
       <li><a href="#buttons">Buttons</a></li>
       <li><a href="#forms">Forms</a></li>
       <li><a href="#tables">Tables</a></li>
       <li><a href="#miscellaneous">Miscellaneous</a></li>
     </ul>
   </div>
   -->
</header>

<br>

<div class="alert centered">
Gracias por tu visita. Draculas Pressure está aún en construcción, <a 
</div>

