<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div>
      <div class="well" align = "left">
        <h1>Do you want to record your pressure?</h1>
        <p class="lead"></p><br/>
          <span class="span3">
            <img src="http://www.soloimagen.net/public/gifs/dracula.gif" width="500" height="500">
          </span>
          <span class="span6">
            <p>DraculasPressure is a web application that allows you record all yor pression           measurements in a confortable and fast way</p>
            <p>If you want to start recording your measures, one have to follow two steps</p>
                <ol>
                  <li>Create your account and input your max and min measures. The app will save it for you.</li>
                  <li>Then you can go and check and export them</li>
                </ol>
            <div class="centered">
                 <a href="/login"><button class="btn big">Add new record</button></a>
            </div>
            </span>
        <div style="clear:both"></div>
      </div>
  </div>
  <!--
   <div class="subnav">
     <ul class="nav nav-pills">
       <li><a href="#typography">Typography</a></li>
       <li><a href="#navbar">Navbar</a></li>
       <li><a href="#buttons">Buttons</a></li>
       <li><a href="#forms">Forms</a></li>
       <li><a href="#tables">Tables</a></li>
       <li><a href="#miscellaneous">Miscellaneous</a></li>
     </ul>
   </div>
   -->
</header>

<br>

<div class="alert centered">Thanks for your visit, DraculasPressure is in construction</div>

