<html>
  <head><p class="lead">Your pressure averages</p></head>
  <body>
   <table border = "1"  class="table table-striped"  id = "averagaTable">
     <tr>
       <td>MIN</td>
       <td> MAX </td>
     </tr>
     <tr>
       <td><%= @avrMin %></td>
       <td><%= @avrMax %></td>
     </tr>
   </table>
	<div class = "well">
	<a href="/blood_pressures/index"><button class = "btn btn-primary" id="GoBack">Go Back To Blood Pressures Index<button></a>  
	</div>
  </body>
</html>
