<html>
  <head><p class="lead">Your pressure averages</p></head>
  <body>
   <table border = "1"  class="table table-striped"  id = "averagaTable">
     <tr>
       <td>MIN</td>
       <td> MAX </td>
     </tr>
     <tr>
       <td><%= @avrMin %></td>
       <td><%= @avrMax %></td>
     </tr>
   </table>
     <a href="/blood_pressure_records"><button class = "btn btn-warning" type="button">Go back</button></a> 
  </body>
</html>
