<div>		
<form method='post' action='/blood_pressures/calculateAverage'>
			<div class = "well">			
			<%= csrf_token_field %>
			<label for='date1'>minDate</label>
			<input type='DateTime' id='minDate' name='minDate' placeholder='yyyy-mm-dd' />
			<label for='date2'>maxDate</label>	
			<input type='DateTime' id='maxDate' name='maxDate' placeholder='yyyy-mm-dd' /> 
	   
			<p><%= @errorMessageAverage %></p>
			<button type='submit' class = "btn btn-primary" id="buttonCalculate">See an Average between Dates</button>  
			</div>
		</form>
</div>
	<div class = "well">
	<a href="/blood_pressures/index" class = "btn btn-primary" id="GoBack">Go Back To Blood Pressures Index</a>  
	</div>

