<header class="jumbotron subhead" id="overview">
   <div>
		<div class = "well">
			<h1>What do you want to do?</h1>
		</div>
      <div class="well" align = "left">

					<div class = "well">
					<a href="/blood_pressures/new" class = "btn btn-primary" id="newRecord">Create New Blood Pressure</a>  
					</div>
					<div class = "well">
					<a href="/blood_pressures/blood_pressure_records" class = "btn btn-primary"  id="seeYourHistory">See your History</a> 
					</div>
					<div class = "well"> 	
					<a href="/blood_pressures/averageForm" class = "btn btn-primary" id="See Your Record Average">See Your Record Average</a>  
					</div>

					<div class = "well"> 	
					<a href="/blood_pressures/exportForm" class = "btn btn-primary" id="Export Records">Export Records</a>  
					</div>

      </div>
  </div>

</header>
