<header class="jumbotron subhead" id="overview">
   <div>
		<div class = "well">
			<h1>What do you want to do?</h1>
		</div>
      <div class="well" align = "left">

					<div class = "well">
					<a href="/blood_pressures/new"><button class = "btn btn-primary" id="seeYourHistory">Create New Blood Pressure<button></a>  
					</div>
					<div class = "well">
					<a href="/blood_pressures/blood_pressure_records"><button class = "btn btn-primary"  id="seeYourHistory">See your History<button></a> 
					</div>
					<div class = "well"> 	
					<a href="/blood_pressures/averageForm"><button class = "btn btn-primary" id="See Your Record Average">See Your Record Average<button></a>  
					</div>

      </div>
  </div>

</header>
