<div class="well">
  <form class="centered" method="post" action='/blood_pressures/create'>
    <%= csrf_token_field %>
    <h1>Detalles del de la toma de presion</h1>
    <input type="text" id="blood_pressure[max]" name="blood_pressure[max]" placeholder="maxima de la toma de presion" class="large" value="<%= @blood_pressure.max %>"/>
    <input type="text" id="blood_pressure[min]" name="blood_pressure[min]" placeholder="minima de la toma de presion" class="large" value="<%= @blood_pressure.min %>"/>

    <input type="submit" class="btn big" id="saveButton" value="Guardar" />
    <% if flash[:error] %>
        <div class="alert alert-error">
          <%=flash[:error]   %>
        </div>
    <% end %>

  </form>
</div>
