<div class="well">
  <form class="centered">
    <h1>Record details</h1>
	<p>Min: <%= @blood_pressure.min %></p>
	<p>Max: <%= @blood_pressure.max %></p>
    <p>Date: <%= @blood_pressure.date.to_date.to_s %></p>
		<p> Your record has been successfully completed </p>
  </form>
</div>
<div class = "well">
<a href="/blood_pressures/index"><button class = "btn btn-primary" id="GoBack">Go Back To Blood Pressures Index<button></a>  
</div>
