<div class="well">
  <form class="centered">
    <h1>Detalles de la toma</h1>
    <p>Max: <%= @blood_pressure.max %></p>
	<p>Min: <%= @blood_pressure.min %></p>
    <p>Date: <%= @blood_pressure.date.to_date.to_s %></p>
  </form>
</div>
