<div>
  <ul class="nav" id="main-menu-left"></ul>
  <ul class="nav pull-right" id="main-menu-right">
  <li><a rel="tooltip" href="/" title="Inicio">Inicio</a></li>
  <% if current_account %>
    <li><a rel="tooltip" href="/" title="Profile"><%= current_account.uid %></a></li>
  <% end %>
  </ul>
</div> 
